[flake8]
max-line-length = 79
max-complexity = 18
select = B,C,E,F,W,T4,B9
ignore = W503, E203  # ignore for consistency with black

# ignore asterisk imports and unused
# import errors in __init__ files
per-file-ignores = 
    **/__init__.py:F401,F403
