[submodule "ml4gw"]
	path = ml4gw
	url = git@github.com:ML4GW/ml4gw.git
[submodule "hermes"]
	path = hermes
	url = git@github.com:ML4GW/hermes.git
[submodule "pycondor"]
	path = pycondor
	url = git@github.com:ML4GW/pycondor.git
