repos:
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
- repo: https://github.com/psf/black
  rev: 23.10.1
  hooks:
  - id: black
    language_version: python3
    args:
    - "--config"
    - "./pyproject.toml"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: ^charts/raycluster/templates/
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.15
  hooks:
    - id: helmlint
