[tool.poetry]
name = "export"
version = "0.1.0"
description = "Export aframe for IaaS inference"
authors = ["Ethan Jacob Marx <ethan.marx@ligo.org>"]
license = "MIT"
#readme = "README.md"

[tool.poetry.scripts]
export = "export.main:main"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"

torch = {version = "^1.10", source = "torch"}

# nautilus/remote file access
s3fs = "^2023.10.0"

# local deps
aframe = {path = "../../", develop = true}
utils = {path = "../utils", develop = true}
ml4gw = {path = "../../ml4gw", develop = true}
jsonargparse = "^4.27.1"

[tool.poetry.dependencies."hermes.quiver"]
path = "../../hermes/hermes/hermes.quiver"
develop = true

[[tool.poetry.source]]
name = "torch"
url = "https://download.pytorch.org/whl/cpu"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
