apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-head
  labels:
    app: {{ .Chart.Name }}-head
spec:
  replicas: 1
  selector:
    matchLabels:
      component: {{ .Chart.Name }}-head
      type: ray
      app: {{ .Chart.Name }}-head
  template:
    metadata:
      labels:
        component: {{ .Chart.Name }}-head
        type: ray
        app: {{ .Chart.Name }}-head
    spec:
      restartPolicy: Always
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
      - name: {{ .Values.gitRepo.name }}-volume
        emptyDir: {}
      - name: git-secret
        secret:
          defaultMode: 0400
          secretName: git-creds
      securityContext:
        fsGroup: 65533
    {{- if .Values.dev }}
      initContainers:
        - name: git-sync
          image: registry.k8s.io/git-sync/git-sync:v4.2.1
          env:
          - name: GITSYNC_REPO
            value: {{ .Values.gitRepo.url }}
          - name: GITSYNC_REF
            value: main
          - name: GITSYNC_ROOT
            value: /opt
          - name: GITSYNC_LINK
            value: aframe
          - name: GITSYNC_ONE_TIME
            value: "true"
          - name: GITSYNC_SSH_KNOWN_HOSTS
            value: "false"
          - name: GITSYNC_SUBMODULES
            value: "recursive"
          - name: GITSYNC_ADD_USER
            value: "true"
          volumeMounts:
            - name: {{ .Values.gitRepo.name }}-volume
              mountPath: {{ .Values.gitRepo.mountPath }}
            - name: git-secret
              mountPath: /etc/git-secret
              readOnly: true
          securityContext:
            runAsUser: 65533
    {{- end }}
      containers:
        - name: ray-head
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ "/bin/bash", "-c", "--" ]
          args:
            - "ray start --head --port=6380 --num-cpus=$MY_CPU_REQUEST --dashboard-host=0.0.0.0 --object-manager-port=8076 --node-manager-port=8077 --dashboard-agent-grpc-port=8078 --dashboard-agent-listen-port=52365 --block"
          ports:
            - containerPort: 6380
            - containerPort: 10001 
            - containerPort: 8265 
          volumeMounts:
            - mountPath: /dev/shm
              name: dshm
            - mountPath: {{ .Values.gitRepo.mountPath }}
              name: {{ .Values.gitRepo.name }}-volume
          env:
          - name: TUNE_MAX_PENDING_TRIALS_PG
            value: "64"
          - name: MY_CPU_REQUEST
            valueFrom:
              resourceFieldRef:
                resource: requests.cpu
          - name: AWS_ENDPOINT_URL
            value: {{ .Values.awsUrl }} 
          envFrom:
          - secretRef:
              name: credentials
          resources:
            limits:
              cpu: {{ .Values.head.cpu | quote }}
              memory: {{ .Values.head.memory | quote }}
              ephemeral-storage: "100Gi"
            requests:
              cpu: {{ .Values.head.cpu | quote }}
              memory: {{ .Values.head.memory | quote }}
              ephemeral-storage: "100Gi"
